<div class="buttons">
    <p class="subtitle">Standard</p>

    <button class="button ep-primary">Primary</button>
    <button class="button dark">Secondary</button>
    <button class="button hollow">Monochrome</button>
    <button class="button disabled">Disabled</button>

    <pre><code><p class="pre-title">HTML</p><span class="tag">&lt;<span class="name">button</span><span class="attr">class</span>=<span class="string">"button ep-primary"</span>&gt;</span>Primary<span class="tag">&lt;/<span class="name">button</span>&gt;</span>
<span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button dark"</span>&gt;</span>Secondary<span class="tag">&lt;/<span class="name">button</span>&gt;</span>
<span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button hollow"</span>&gt;</span>Monochrome<span class="tag">&lt;/<span class="name">button</span>&gt;</span>
<span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button disabled"</span>&gt;</span>Disabled<span class="tag">&lt;/<span class="name">button</span>&gt;</span></code></pre>

<pre><code><p class="pre-title">CSS</p><span class="hljs-selector-class">.button</span> { 
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.1);
    font-size: 14px;
    font-weight: bold;
    padding: .5em 1em;
    margin: 0;
}
<span class="hljs-selector-class">.button.ep-primary</span> { 
    background-color: #ff6600;
}
<span class="hljs-selector-class">.button.dark</span> { 
    background-color: #4a4a4a;
}
<span class="hljs-selector-class">.button.hollow</span> { 
    border: solid 1px #c0c0c0;
    background-color: #ffffff;
    color: #4a4a4a;
    box-shadow: none;
}
<span class="hljs-selector-class">.button.disabled</span> { 
    background-color: $disabled;
    color: #979797;
    opacity: 1;
}</code></pre>

</div>
