<div class="typeface">

    <p class="subtitle">Lato</p> 
    <pre><code><p class="pre-title">CSS</p><span class=""></span><span class="string">font-family:</span> 'latoregular';</code></pre>

    <div class="letter">
        <div class="letter-wrap">
            <p class="letter-wrap-big">Aa</p>
            <p>Regular</p>
        </div>

        <div class="letter-wrap">
            <p class="letter-wrap-big">Aa</p>
            <p>Regular</p>
        </div>
    </div>

    <div class="example big bold">
        <div>
            <p>Lato bold - size 25px</p>
            <p>Line height 35px</p>
        </div>
        <div>
            <pre><code><p class="pre-title">SCSS</p><span class="string">font-weight:</span> bold;
<span class="string">font-size:</span> 25px;
<span class="string">line-height:</span> 35px;</code></pre>
        </div>
    </div>

    <div class="example big">
        <div>
            <p>Lato regular - size 25px</p>
            <p>Line height 35px</p>
        </div>
        <div>
            <pre><code><p class="pre-title">SCSS</p><span class="string">font-size:</span> 25px;
<span class="string">line-height:</span> 35px;</code></pre>
        </div>
    </div>

    <div class="example medium bold">
        <div>
            <p>Lato bold - size 20px</p>
            <p>Line height 30px</p>
        </div>
        <div>
            <pre><code><p class="pre-title">SCSS</p><span class="string">font-weight:</span> bold;
<span class="string">font-size:</span> 20px;
<span class="string">line-height:</span> 30px;</code></pre>
        </div>
    </div>

    <div class="example medium">
        <div>
            <p>Lato regular - size 20px</p>
            <p>Line height 30px</p>
        </div>
        <div>
            <pre><code><p class="pre-title">SCSS</p><span class="string">font-size:</span> 20px;
<span class="string">line-height:</span> 30px;</code></pre>
        </div>
    </div>

    <div class="example small bold">
        <div>
            <p>Lato bold - size 15px</p>
            <p>Line height 25px</p>
        </div>
        <div>
            <pre><code><p class="pre-title">SCSS</p><span class="string">font-weight:</span> bold;
<span class="string">font-size:</span> 15px;
<span class="string">line-height:</span> 25px;</code></pre>
        </div>
    </div>

    <div class="example small">
        <div>
            <p>Lato regular - size 15px</p>
            <p>Line height 25px</p>
        </div>
        <div>
            <pre><code><p class="pre-title">SCSS</p><span class="string">font-size:</span> 15px;
<span class="string">line-height:</span> 25px;</code></pre>
        </div>
    </div>

</div>