---
layout: page
title: Colours
permalink: /colours/
---

<div class="colours">

    <p class="main-subtitle">Primary colors</p>
    <div class="row-color">
        <div class="row-color-box" style="background-color: #FF6600">
            <p>#FF6600</p>
        </div>
        <div class="row-color-box" style="background-color: #4A4A4A">
            <p>#4A4A4A</p>
        </div>
        <div class="row-color-box" style="background-color: #C0C0C0">
            <p>#C0C0C0</p>
        </div>
        <div class="row-color-box" style="background-color: #F0F0F0">
            <p>#F0F0F0</p>
        </div>
        <div class="row-color-box" style="background: linear-gradient(to right, #BE271D 51%, #FAE0E1 49%);">
            <p><span>#BE271D</span><span>#FAE0E1</span></p>
        </div>
        <div class="row-color-box" style="background: linear-gradient(to right, #0E7DBF 50%, #DFFCE6 50%);">
            <p><span>#0E7DBF</span><span>#DFFCE6</span></p>
        </div>
    </div>

    <p class="main-subtitle">Primary colors</p>
    <div class="row-color">
        <div class="row-color-box" style="background-color: #047F9C">
            <p>#047F9C</p>
        </div>
        <div class="row-color-box" style="background-color: #D78900">
            <p>#D78900</p>
        </div>
        <div class="row-color-box" style="background-color: #843333">
            <p>#843333</p>
        </div>
        <div class="row-color-box" style="background: linear-gradient(to right, #EDE0D3 51%, #F6EFE8 49%);">
            <p><span>#EDE0D3</span><span>#F6EFE8</span></p>
        </div>
        <div class="row-color-box" style="background: linear-gradient(to right, #FF8200 50%, #FEA039 50%);">
            <p><span>#FF8200</span><span>#FEA039</span></p>
        </div>
        <div class="row-color-box" style="background-color: #414141">
            <p>#414141</p>
        </div>
        <div class="row-color-box" style="background-color: #FCFCFC">
            <p>#FCFCFC</p>
        </div>
        <div class="row-color-box" style="background-color: #FFE0CC">
            <p>#FFE0CC</p>
        </div>
    </div>

    <p class="main-subtitle">Text colors</p>
    <div class="row-color">
        <div class="row-color-box" style="background-color: #FF6600">
            <p>#FF6600</p>
        </div>
        <div class="row-color-box" style="background-color: #4A4A4A">
            <p>#4A4A4A</p>
        </div>
        <div class="row-color-box" style="background-color: #979797">
            <p>#979797</p>
        </div>
    </div>

</div>