---
layout: page
title: Grid
permalink: /grid/
---

<div class="grid">

    <p class="subtitle">Responsive grid  <span>(We are using Foundation 6 on our projects)</span></p>

    <!--12 Columns-->
    <div>
    <pre><code><span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"row"</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-12 large-12 column"</span>&gt;</span>12 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
<span class="tag">&lt;/<span class="name">div</span>&gt;</span></code></pre>
    </div> 

    <div class="row column">
        <div class="small-12 column backg">
            <p>12 columns</p>
        </div>
    </div>

    <!--3 Columns-->
    <div>
    <pre><code><span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"row"</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-4 large-4 column"</span>&gt;</span>4 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-4 large-4 column"</span>&gt;</span>4 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-4 large-4 column"</span>&gt;</span>4 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
<span class="tag">&lt;/<span class="name">div</span>&gt;</span></code></pre>
    </div>  
         
    <div class="row column">
        <div class="small-12 medium-4 column backg">
            <p>4 columns</p>
        </div>
        <div class="small-12 medium-4 column backg">
            <p>4 columns</p>
        </div>
        <div class="small-12 medium-4 column backg">
            <p>4 columns</p>
        </div>
    </div>

    <!--4 Columns-->
    <div>
    <pre><code><span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"row"</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-3 large-3 column"</span>&gt;</span>3 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-3 large-3 column"</span>&gt;</span>3 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-3 large-3 column"</span>&gt;</span>3 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-3 large-3 column"</span>&gt;</span>3 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
<span class="tag">&lt;/<span class="name">div</span>&gt;</span></code></pre>
    </div>  
    
    <div class="row column">
        <div class="small-12 medium-3 column backg">
            <p>3 columns</p>
        </div>
        <div class="small-12 medium-3 column backg">
            <p>3 columns</p>
        </div>
        <div class="small-12 medium-3 column backg">
            <p>3 columns</p>
        </div>
        <div class="small-12 medium-3 column backg">
            <p>3 columns</p>
        </div>
    </div>

    <!--6 Columns-->
    <div>
    <pre><code><span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"row"</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-2 large-2 column"</span>&gt;</span>2 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-2 large-2 column"</span>&gt;</span>2 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-2 large-2 column"</span>&gt;</span>2 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-2 large-2 column"</span>&gt;</span>2 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-2 large-2 column"</span>&gt;</span>2 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-2 large-2 column"</span>&gt;</span>2 columns<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
<span class="tag">&lt;/<span class="name">div</span>&gt;</span></code></pre>
    </div>

    <div class="row column">
        <div class="small-12 medium-2 column backg">
            <p>2 columns</p>
        </div>
        <div class="small-12 medium-2 column backg">
            <p>2 columns</p>
        </div>
        <div class="small-12 medium-2 column backg">
            <p>2 columns</p>
        </div>
        <div class="small-12 medium-2 column backg">
            <p>2 columns</p>
        </div>
        <div class="small-12 medium-2 column backg">
            <p>2 columns</p>
        </div>
        <div class="small-12 medium-2 column backg">
            <p>2 columns</p>
        </div>
    </div>

    <!--12 Columns-->
    <div>
    <pre><code><span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"row"</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-1 large-1 column"</span>&gt;</span>1 col<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-1 large-1 column"</span>&gt;</span>1 col<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-1 large-1 column"</span>&gt;</span>1 col<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-1 large-1 column"</span>&gt;</span>1 col<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-1 large-1 column"</span>&gt;</span>1 col<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-1 large-1 column"</span>&gt;</span>1 col<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-1 large-1 column"</span>&gt;</span>1 col<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-1 large-1 column"</span>&gt;</span>1 col<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-1 large-1 column"</span>&gt;</span>1 col<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-1 large-1 column"</span>&gt;</span>1 col<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-1 large-1 column"</span>&gt;</span>1 col<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 medium-1 large-1 column"</span>&gt;</span>1 col<span class="tag">&lt;/<span class="name">div</span>&gt;</span>
<span class="tag">&lt;/<span class="name">div</span>&gt;</span></code></pre>
    </div>

    <div class="row column">
        <div class="small-12 medium-1 column backg">
            <p>1 col</p>
        </div>
        <div class="small-12 medium-1 column backg">
            <p>1 col</p>
        </div>
        <div class="small-12 medium-1 column backg">
            <p>1 col</p>
        </div>
        <div class="small-12 medium-1 column backg">
            <p>1 col</p>
        </div>
        <div class="small-12 medium-1 column backg">
            <p>1 col</p>
        </div>
        <div class="small-12 medium-1 column backg">
            <p>1 col</p>
        </div>
        <div class="small-12 medium-1 column backg">
            <p>1 col</p>
        </div>
        <div class="small-12 medium-1 column backg">
            <p>1 col</p>
        </div>
        <div class="small-12 medium-1 column backg">
            <p>1 col</p>
        </div>
        <div class="small-12 medium-1 column backg">
            <p>1 col</p>
        </div>
        <div class="small-12 medium-1 column backg">
            <p>1 col</p>
        </div>
        <div class="small-12 medium-1 column backg">
            <p>1 col</p>
        </div>
    </div>

    <!--Breakpoints-->
    <p class="subtitle">Breakpoints</p>

    <div>
    <pre><code class="scss"><span class="name">$breakpoints</span>: (
    <span class="string">small:</span> 0px,
    <span class="string">medium:</span> 640px,
    <span class="string">large:</span> 1024px,
    <span class="string">xlarge:</span> 1200px,
    <span class="string">xxlarge:</span> 1440px,
);</code></pre>
    <pre><code class="scss"><span class="name">.element</span> {
    @<span class="string">include breakpoint(small)</span> {
      <span class="hljs-comment">// CSS for small devices</span>
    }
    @<span class="string">include breakpoint(large)</span> {
      <span class="hljs-comment">// CSS for for large devices</span>
    }
  }</code></pre>
    </div>

</div>