---
layout: page
title: Buttons
permalink: /buttons/
---

<div class="buttons">
    <p class="subtitle">Normal state</p>

    <button class="button ep-primary">Primary</button>
    <button class="button dark">Secondary</button>
    <button class="button hollow">Monochrome</button>
    <button class="button disabled">Disabled</button>

    <p class="subtitle">Hover state</p>

    <button class="button ep-primary hov">Primary</button>
    <button class="button dark hov">Secondary</button>
    <button class="button hollow">Monochrome</button>

    <pre><code><p class="pre-title">HTML</p><span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button ep-primary"</span>&gt;</span>Primary<span class="tag">&lt;/<span class="name">button</span>&gt;</span>
<span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button dark"</span>&gt;</span>Secondary<span class="tag">&lt;/<span class="name">button</span>&gt;</span>
<span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button hollow"</span>&gt;</span>Monochrome<span class="tag">&lt;/<span class="name">button</span>&gt;</span>
<span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button disabled"</span>&gt;</span>Disabled<span class="tag">&lt;/<span class="name">button</span>&gt;</span></code></pre>

<pre><code><p class="pre-title">SCSS</p><span class="name">.button</span> <span class="tag">{</span>
    <span class="string">border-radius</span>: 2px;
    <span class="string">box-shadow</span>: inset 0 -2px 0 0 rgba(0,0,0,.1);
    <span class="string">font-size</span>: 14px;
    <span class="string">font-weight</span>: bold;
    <span class="string">padding</span>: .5em 1em;
    <span class="string">margin</span>: 0;
<span class="tag">}</span>

<span class="name">.button.ep-primary</span> <span class="tag">{</span>
    <span class="string">background-color</span>: #ff6600;
    <span class="name">&:hover</span> <span class="tag">{</span>
        <span class="string">background-color</span>: #FF8200;
    <span class="tag">}</span>
<span class="tag">}</span>

<span class="name">.button.dark</span> <span class="tag">{</span> 
    <span class="string">background-color</span>: #4a4a4a;
    <span class="name">&:hover</span> <span class="tag">{</span>
        <span class="string">background-color</span>: rgba(74,74,74,.95);
    <span class="tag">}</span>
<span class="tag">}</span>

<span class="name">.button.hollow</span> <span class="tag">{</span>
    <span class="string">border</span>: solid 1px #c0c0c0;
    <span class="string">background-color</span>: #ffffff;
    <span class="string">color</span>: #4a4a4a;
    <span class="string">box-shadow</span>: none;
<span class="tag">}</span>

<span class="name">.button.disabled</span> <span class="tag">{</span> 
    <span class="string">background-color</span>: $disabled;
    <span class="string">color</span>: #979797;
<span class="tag">}</span></code></pre>

</div>
