---
layout: page
title: Buttons
permalink: /buttons/
---

<div class="buttons">
    <p class="main-subtitle">Normal state</p>

    <button class="button ep-primary">Primary</button>
    <button class="button dark">Secondary</button>
    <button class="button hollow">Monochrome</button>
    <button class="button disabled">Disabled</button>

    <p class="main-subtitle">Hover state</p>

    <button class="button ep-primary hov">Primary</button>
    <button class="button dark hov">Secondary</button>
    <button class="button hollow">Monochrome</button>

    <pre><code><p class="pre-title">HTML</p><span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button ep-primary"</span>&gt;</span>Primary<span class="tag">&lt;/<span class="name">button</span>&gt;</span>
<span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button dark"</span>&gt;</span>Secondary<span class="tag">&lt;/<span class="name">button</span>&gt;</span>
<span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button hollow"</span>&gt;</span>Monochrome<span class="tag">&lt;/<span class="name">button</span>&gt;</span>
<span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button disabled"</span>&gt;</span>Disabled<span class="tag">&lt;/<span class="name">button</span>&gt;</span></code></pre>

</div>
