---
layout: page
title: Modal
permalink: /modal/
---
<div class="modal-container">
    <div class="modal">

        <div class="overlay">
            <div class="overlay-content">
                <a class="float-right"><i class="material-icons">clear</i></a>
                <div class="spacer-10"></div>
                <p class="subtitle">Remove this lead?</p>
                <div class="spacer-10"></div>
                <p class="text-review">Mark as lost and remove lead? This will remove the property lead from your properties
                    list.</p>
                <div class="spacer-10"></div>
                <div class="button-group">
                    <button class="button ep-primary full-width">Yes, remove lead</button>
                    <button class="button dark">No, keep lead</button>
                </div>
            </div>
        </div>

    </div>

<pre><code><p class="pre-title">HTML</p><span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"overlay"</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"overlay-content"</span>&gt;</span>
        <span class="tag">&lt;<span class="name">a</span> <span class="attr">class</span>=<span class="string">"float-right"</span>&gt;</span>
            <span class="tag">&lt;<span class="name">i</span> <span class="attr">class</span>=<span class="string">"material-icons"</span>&gt;</span>clear<span class="tag">&lt;/<span class="name">i</span>&gt;</span>
        <span class="tag">&lt;/<span class="name">a</span>&gt;</span>
        <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"spacer-10"</span>&gt;</span><span class="tag">&lt;/<span class="name">div</span>&gt;</span>
        <span class="tag">&lt;<span class="name">p</span> <span class="attr">class</span>=<span class="string">"subtitle"</span>&gt;</span>Remove this lead?<span class="tag">&lt;/<span class="name">p</span>&gt;</span>
        <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"spacer-10"</span>&gt;</span><span class="tag">&lt;/<span class="name">div</span>&gt;</span>
        <span class="tag">&lt;<span class="name">p</span> <span class="attr">class</span>=<span class="string">"text-review"</span>&gt;</span>Mark as lost and remove lead? This will remove the property lead from your properties list.<span class="tag">&lt;/<span class="name">p</span>&gt;</span>
        <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"spacer-10"</span>&gt;</span><span class="tag">&lt;/<span class="name">div</span>&gt;</span>
        <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"button-group"</span>&gt;</span>
            <span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button ep-primary"</span>&gt;</span>Yes, remove lead<span class="tag">&lt;/<span class="name">button</span>&gt;</span>
            <span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button dark"</span>&gt;</span>No, keep lead<span class="tag">&lt;/<span class="name">button</span>&gt;</span>
        <span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="name">div</span>&gt;</span>
<span class="tag">&lt;/<span class="name">div</span>&gt;</span></code></pre>

</div>

