---
layout: page
title: Table
permalink: /table/
---

<div class="vtable">
    <ul class="vtable-header">
        <li>Name</li>
        <li>Type</li>
        <li>Date</li>
        <li>Time</li>
        <li>Status</li>
        <li>&nbsp;</li>
    </ul>
    <ul class="vtable-body">
        <li>Mr New User</li>
        <li>MA</li>
        <li>26/05/2018</li>
        <li>08:00 am</li>
        <li><span class="pending">pending</span></li>
        <li><button class="button ep-primary">Accept</button></li>
    </ul>
    <ul class="vtable-body">
        <li>Mr New User</li>
        <li>MA</li>
        <li>26/05/2018</li>
        <li>08:00 am</li>
        <li><span class="accept">accept</span></li>
        <li><button class="button ep-primary">accept</button></li>
    </ul>
</div>


<pre><code><p class="pre-title">HTML</p><span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"vtable"</span>&gt;</span>
    <span class="tag">&lt;<span class="name">ul</span> <span class="attr">class</span>=<span class="string">"vtable-header"</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>Name<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>Type<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>Date<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>Time<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>Status<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>'&nbsp;'<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
    <span class="tag">&lt;/<span class="name">ul</span>&gt;</span>
    <span class="tag">&lt;<span class="name">ul</span> <span class="attr">class</span>=<span class="string">"vtable-body"</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>Mr New User<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>MA<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>26/05/2018<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>08:00 am<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">span</span> <span class="attr">class</span>=<span class="string">"pending"</span>&gt;</span>Accept<span class="tag">&lt;/<span class="name">span</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button ep-primary"</span>&gt;</span>Accept<span class="tag">&lt;/<span class="name">button</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
    <span class="tag">&lt;/<span class="name">ul</span>&gt;</span>
    <span class="tag">&lt;<span class="name">ul</span> <span class="attr">class</span>=<span class="string">"vtable-body"</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>Mr New User<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>MA<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>26/05/2018<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span>08:00 am<span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">span</span> <span class="attr">class</span>=<span class="string">"accept"</span>&gt;</span>Accept<span class="tag">&lt;/<span class="name">span</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
        <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">button</span> <span class="attr">class</span>=<span class="string">"button ep-primary"</span>&gt;</span>Accept<span class="tag">&lt;/<span class="name">button</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
    <span class="tag">&lt;/<span class="name">ul</span>&gt;</span>          
<span class="tag">&lt;/<span class="name">div</span>&gt;</span></code></pre>