---
layout: page
title: Header
permalink: /header/
---

<header class="global">
    <div class="row">
        <div class="column small-12 large-4">
            <a href="/">
                <div class="brand">
                    <img alt="easyProperty Licensee Dashboard" src="/images/eplogoLD.png">
                </div>
            </a>
        </div>
        <div class="column small-12 large-8">
            <ul class="dropdown menu" data-dropdown-menu="">
                <li class="active">
                    <a href="/">Dashboard</a>
                </li>
                <li>
                    <a href="/contacts">Contacts</a>
                </li>
                <li>
                    <a href="/properties">Properties</a>
                </li>
                <li>
                    <a href="/reports">Reports</a>
                </li>

                <li class="is-dropdown-submenu-parent opens-right" data-click-open="">
                    <a>My account</a>
                    <i class="material-icons">expand_more</i>
                    <ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="">
                        <li><a href="/account/alerts">Alerts and notifications</a></li>
                        <li><a href="/account/management">Account management</a></li>
                        <li><a href="/account/company-details">Company details</a></li>
                        <li><a href="https://members.easyproperty.com">Members Hub</a></li>
                        <li><a href="/logout">Log out</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</header>

    <pre><code><p class="pre-title">HTML</p><span class="tag">&lt;<span class="name">header</span> <span class="attr">class</span>=<span class="string">"global"</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"row"</span>&gt;</span>
        <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"column small-12 large-4"</span>&gt;</span>
            <span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"/"</span>&gt;</span>
                <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"brand"</span>&gt;</span>
                    <span class="tag">&lt;<span class="name">img</span> <span class="attr">src</span>=<span class="string">"/images/eplogoLD.png"</span>&gt;</span>
                <span class="tag">&lt;/<span class="name">div</span>&gt;</span>
            <span class="tag">&lt;/<span class="name">a</span>&gt;</span>
        <span class="tag">&lt;/<span class="name">div</span>&gt;</span>
        <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"column small-12 large-8"</span>&gt;</span>
            <span class="tag">&lt;<span class="name">ul</span> <span class="attr">class</span>=<span class="string">"dropdown menu"</span>&gt;</span>
                <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">a</span> <span class="attr">class</span>=<span class="string">"active"</span>&gt;</span><span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"/"</span>&gt;</span>Dashboard<span class="tag">&lt;/<span class="name">a</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
                <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"/contacts"</span>&gt;</span>Contacts<span class="tag">&lt;/<span class="name">a</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
                <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"/properties"</span>&gt;</span>Properties<span class="tag">&lt;/<span class="name">a</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
                <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"/reports"</span>&gt;</span>Reports<span class="tag">&lt;/<span class="name">a</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
                <span class="tag">&lt;<span class="name">li</span> <span class="attr">class</span>=<span class="string">"is-dropdown-submenu-parent opens-right"</span>&gt;</span>
                    <span class="tag">&lt;<span class="name">a</span>&gt;</span>My account<span class="tag">&lt;/<span class="name">a</span>&gt;</span>
                    <span class="tag">&lt;<span class="name">i</span> <span class="attr">class</span>=<span class="string">"material-icons"</span>&gt;</span><span class="tag">&lt;/<span class="name">i</span>&gt;</span>
                    <span class="tag">&lt;<span class="name">ul</span> <span class="attr">class</span>=<span class="string">"menu submenu is-dropdown-submenu"</span>&gt;</span>             
                        <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"/account/alerts"</span>&gt;</span>Alerts and notifications<span class="tag">&lt;/<span class="name">a</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
                        <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"/account/management"</span>&gt;</span>Account management<span class="tag">&lt;/<span class="name">a</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
                        <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"/account/company-details"</span>&gt;</span>Company details<span class="tag">&lt;/<span class="name">a</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
                        <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"https://members.easyproperty.com"</span>&gt;</span>Contacts<span class="tag">&lt;/<span class="name">a</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
                        <span class="tag">&lt;<span class="name">li</span>&gt;</span><span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"/logout"</span>&gt;</span>Members Hub<span class="tag">&lt;/<span class="name">a</span>&gt;</span><span class="tag">&lt;/<span class="name">li</span>&gt;</span>
                    <span class="tag">&lt;/<span class="name">ul</span>&gt;</span>
                <span class="tag">&lt;/<span class="name">li</span>&gt;</span>
            <span class="tag">&lt;/<span class="name">ul</span>&gt;</span>        
        <span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="name">div</span>&gt;</span>
<span class="tag">&lt;/<span class="name">header</span>&gt;</span></code></pre>
