---
layout: page
title: Footer
permalink: /footer/
---

<footer class="footer">
    <div class="row">
        <div class="small-12 columns footer-wrap">
            <a href="https://easyproperty.com/" target="_blank"> easyproperty.com</a>
            <div class="footer-wrap-right">
                <a href="/contact-us">Contact us</a>
                <a href="/terms-and-conditions">Terms &amp; Conditions</a>
                <a href="/privacy">Privacy policy</a>
            </div>
        </div>
    </div>
</footer>

    <pre><code><p class="pre-title">HTML</p><span class="tag">&lt;<span class="name">footer</span> <span class="attr">class</span>=<span class="string">"footer"</span>&gt;</span>
    <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"row"</span>&gt;</span>
        <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"small-12 columns footer-wrap"</span>&gt;</span>
            <span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"https://easyproperty.com/"</span>&gt;</span>easyproperty.com<span class="tag">&lt;/<span class="name">a</span>&gt;</span>
            <span class="tag">&lt;<span class="name">div</span> <span class="attr">class</span>=<span class="string">"footer-wrap-right"</span>&gt;</span>
                <span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"/contact-us"</span>&gt;</span>Contact us<span class="tag">&lt;/<span class="name">a</span>&gt;</span>
                <span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"/terms-and-conditions"</span>&gt;</span>Terms &amp; Conditions<span class="tag">&lt;/<span class="name">a</span>&gt;</span>
                <span class="tag">&lt;<span class="name">a</span> <span class="attr">href</span>=<span class="string">"/privacy"</span>&gt;</span>Privacy policy<span class="tag">&lt;/<span class="name">a</span>&gt;</span>
            <span class="tag">&lt;/<span class="name">div</span>&gt;</span>
        <span class="tag">&lt;/<span class="name">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="name">div</span>&gt;</span>
<span class="tag">&lt;/<span class="name">footer</span>&gt;</span></code></pre>