@import 'foundation/f6';

// Variables
@import 'guide/variables';

//Global
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: $dark;
    background: #faf8f7;
}

.main.container {
    padding-top: 3em;
    padding-bottom: 3em;
}

.head-title {
    color: $dark;
    font-size: 25px;
    font-weight: bold;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $grey;
    }
}

.pre-title {
    color: $code-orange;
    font-size: 12px !important;
    line-height: 19px !important;
    font-family: 'Lato', sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    background: #323232;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
}

.main-subtitle {
    font-size: 17px;
    padding-top: 1em;
    padding-bottom: 1em;
    &:after {
        content: '';
        display: block;
        width: 12%;
        height: 1px;
        background-color: $grey;
    }
}

p {
    margin: 0;
}

pre {
    overflow: auto;
    box-shadow: 0 2px 3px 2px rgba(32,32,32,0.05);
    border-radius: 2px;
    margin-top: 1em;
}

code {
    display: block;
    overflow-x: auto;
    padding: 1rem;
    background: $dark;
    font-size: 13px;
    color: $code-orange;
    border: 0;
    position: relative;

    .tag {
        color: #b7ca05;
    }

    .name {
        color: #fefefe;
    }

    .string {
        color: #01adad;
    }

}

// _forms
#test:focus {
    background-color: #fcfcfc;
    transition: none;
    border: 1px solid #c0c0c0;
    box-shadow: none;
}

#test1 {
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
}

#test2 {
    border: 1px solid #CC1424;
    background-color: #fefefe;
}

textarea {
    min-height: 100px !important;
}

// _modal
.modal-container {
    position: relative;

    .modal {
        position: relative;
    
        .overlay {
            position: absolute !important;
            min-height: 50vh;
        }
    }

    pre {
        top: 50vh;
        position: absolute;
        max-width: 100%;
    }
}


.footer {
    margin-top: 0 !important;
}

.vtable {
    .accept {
        color: #5EBB00 !important;
    }
}

.wellcome {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 100;
    padding: 0 2em;

    .separator-center {
        width: 200px;
        height: 1px;
        background: #ff6600;
    }

    strong {
        color: #ff6600;
    }

    .copy {
        font-size: 14px;
        font-weight: normal;
        padding-top: 2em;

        span {
            position: relative;
            &:after {
                position: absolute;
                content: "";
                left: -2px;
                top: 50%;
                right: 0;
                border-top: 1px solid;
                border-color: #f60;
                -webkit-transform: rotate(-5deg);
                -ms-transform: rotate(-5deg);
                transform: rotate(18deg);
                width: 40px;
            }
            &:before {
                position: absolute;
                content: "";
                left: -2px;
                top: 50%;
                right: 0;
                border-top: 1px solid;
                border-color: #f60;
                -webkit-transform: rotate(-5deg);
                -ms-transform: rotate(-5deg);
                transform: rotate(145deg);
                width: 40px;
            }

        }

    }

}

// Components
@import 'guide/header';
@import 'guide/navigation';

// Pages components
@import 'guide/typeface';
@import 'guide/grid';
@import 'guide/paragraph';
@import 'guide/colours';
