.typeface {

    .subtitle {
        font-size: 17px;
    }

    .letter {
        display: flex;
        flex-direction: row;
        padding-bottom: 1em;

        &-wrap {
            padding: 0 1em 0 0;

            &-big {
                font-size: 100px;
            }

        }

        &-wrap:last-child {
            font-weight: bold;
        }

    }

    .example {
        padding: 1em 0;

        & > div {
            width: 100%;
        }

        &.big p {
            font-size: 25px;
            line-height: 35px;
        }

        &.medium p {
            font-size: 20px;
            line-height: 30px;
        }

        &.small p {
            font-size: 15px;
            line-height: 20px;
        }

        &.bold {
            font-weight: bold;
        }

    }

}