$dark: #4A4A4A;
$dark-hover: rgba(74,74,74,.95);
$white: #ffffff;
$ep: #ff6600;
$ep-hover: #FF8200;
$header-orange: #FF9C3F;
$soft-orange: #FFE0CC;
$code-orange: #ffccaa;
$grey: #DDDDDD;
$grid-blue-p: #52bad5;
$grey-bt: #c0c0c0;
$disabled: #f0f0f0;
$disabled-grey: #979797;
