<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="container main" aria-label="Content">

        <div class="row">
            <div class="small-2 column">
        
                {%- include navigation.html -%}
                
            </div>
            <div class="small-10 column">

                {{ content }}
        
            </div>         
        </div>

    </main>


    {%- include footer.html -%}

  </body>

</html>
