<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="container main">

        <div class="row">
            <div class="small-2 column">
        
                {%- include navigation.html -%}
                
            </div>
            <div class="small-10 column">

                <h1 class="head-title">Current section title</h1>

                {%- include forms.html -%}
        
            </div>         
        </div>

    </div>

    {%- include footer.html -%}

   <script type="tex/javascript" src="{{ "/assets/js/main.js" | relative_url }}"></script>

  </body>

</html>